@use '../abstracts/variables';

///////////////////////////////////////////
// Gradients
@mixin gradient($type) {
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @if $type == primary-regular {
    background-image: linear-gradient(
      to right,
      var(--clr-primary-opacity-500),
      var(--clr-primary-opacity-100)
    );
  }
  @if $type == white-regular {
    background-image: linear-gradient(
      to right,
      var(--clr-white-opacity-500),
      var(--clr-white-opacity-100)
    );
  }

  @if $type == primary-subtle {
    background-image: linear-gradient(
      to right,
      var(--clr-primary-opacity-500),
      var(--clr-primary-opacity-300)
    );
  }

  @if $type == white-subtle {
    background-image: linear-gradient(
      to right,
      var(--clr-white-opacity-500),
      var(--clr-white-opacity-300)
    );
  }
  @content;
}

.gradient {
  &--primary-regular {
    @include gradient(primary-regular);
  }

  &--white-regular {
    @include gradient(white-regular);
  }

  &--primary-subtle {
    @include gradient(primary-subtle);
  }

  &--white-subtle {
    @include gradient(white-subtle);
  }
}

///////////////////////////////////////////
// Styles
.stroke {
  -webkit-text-stroke: 3px var(--clr-neutral-600);
  color: transparent;
  font-family: var(--ff-primary);
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.currency {
  font-weight: 100;
  opacity: 0.3;
}

///////////////////////////////////////////
// Sections
.hero {
  color: var(--clr-neutral-100);
}

.about {
  &__heading {
    color: var(--clr-neutral-900);
  }
}

.story {
  &__paragraph {
    color: var(--clr-neutral-400);
  }
}
