@use 'breakpoints';

.logo {
  font-family: var(--ff-logo);
  font-weight: 100;
  position: relative;

  &__heading {
    font-weight: 100;
    font-size: var(--fs-subheading);
    color: var(--clr-primary-300);
  }

  &__sub-heading {
    color: var(--clr-neutral-600);
    position: relative;
    left: 4rem;
    bottom: 1rem;

    @include breakpoints.respond(phone-reg) {
      left: 3.7rem;
    }
  }

  &__paddle {
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    top: 3.5rem;
    right: 0rem;

    @include breakpoints.respond(phone-reg) {
      height: 0.8rem;
      width: 0.8rem;
      top: 2.8rem;
    }
  }
}
