@use 'breakpoints';

.logo {
  font-family: var(--ff-logo);
  color: var(--clr-neutral-400);
  font-weight: 100;
  position: relative;

  &__heading {
    font-weight: 100;
    font-size: var(--fs-h3);
  }

  &__sub-heading {
    color: var(--clr-neutral-600);
    position: relative;
    left: 5.2rem;
    bottom: 1rem;

    @include breakpoints.respond(phone-reg) {
      left: 3rem;
      bottom: 0.8rem;
    }
  }

  &__paddle {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 4rem;
    right: 0rem;

    @include breakpoints.respond(phone-reg) {
      height: 1rem;
      width: 1rem;
      top: 2.5rem;
    }
  }
}
