@use 'breakpoints';

///////////////////////////////////////////
// Variables

/* Font Sizes  */
$type-scale: (
  'regular': (
    'heading': clamp(8rem, 7vw + 1rem, 15rem),
    'heading-alt': 7rem,
    'subheading': 2.4rem,
    'label': 1.8rem,
    'body': 1.6rem,
    'caption': 1.4rem,
  ),
  'small': (
    'heading': 7rem,
    'heading-alt': 5rem,
    'subheading': 2rem,
    'label': 1.4rem,
    'body': 1.2rem,
    'caption': 1rem,
  ),
);

:root {
  /* Font Sizes  */
  @each $screen-size, $font-size in $type-scale {
    @if $screen-size == 'regular' {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include breakpoints.respond(phone-reg) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }

  /* Font Family */
  --ff-primary: 'Lato', sans-serif;
  --ff-accent: 'Raleway Dots', sans-serif;
  --ff-logo: 'Poppins', sans-serif;
}

///////////////////////////////////////////
// Headings
.heading-1 {
  font-size: var(--fs-heading);
  font-family: var(--ff-accent);
  font-weight: 100;
  line-height: 1.2;
}

.heading-2 {
  font-size: var(--fs-subheading);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}

.heading-3 {
  font-size: var(--fs-label);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.caption {
  font-size: var(--fs-caption);
}
