@use '../abstracts/breakpoints';

// Leaves
.tours__leaf {
  &--1 {
    top: 50%;
    left: -5%;
    transform: rotate(-170deg);
  }

  &--2 {
    top: 80%;
    right: 0;
    transform: rotate(-195deg);
  }

  &--3 {
    top: 5%;
    right: 0;
    transform: rotate(90deg);
  }
}

.book__leaf {
  top: 12%;
  left: 45%;
  transform: rotate(-30deg);
  z-index: 1;

  @include breakpoints.respond(tab-port) {
    top: -15%;
    left: 70%;
  }
}
