@use '../abstracts/breakpoints';

// Margin
$margin-hg: 15rem;
$margin-xl: 10rem;
$margin-lg: 8rem;
$margin-md: 5rem;
$margin-sm: 1.5rem;
$margin-sm-neg: -1.5rem;
$margin-md-neg: -5rem;
$margin-lg-neg: -8rem;
$margin-xl-neg: -10rem;
$margin-hg-neg: -15rem;

// Padding
$padding-xl: 10rem;
$padding-lg: 7rem;
$padding-md: 5rem;
$padding-sm: 3rem;
$padding-mn: 1rem;

.container-main > * {
  padding-inline: $padding-md;

  @include breakpoints.respond(phone-reg) {
    padding-inline: $padding-mn;
  }
}

.navigation {
  padding-inline: 0;
}

.features {
  margin-block: $margin-sm;
}

.adventures {
  margin-top: $margin-hg;
  margin-bottom: $margin-lg;
}

.about {
  margin-top: $margin-hg;
  margin-bottom: $margin-md;
}

.tours {
  margin-block: $margin-md;
}

.stories {
  margin-top: $margin-lg;
  margin-bottom: $margin-md;
}

.book {
  margin-top: $margin-md;
  margin-bottom: $margin-xl;
}
