//navigation
.sticky {
  position: fixed;
  width: 100vw;
  background-color: var(--clr-white-opacity-100);
}

//reveal sections
.reveal {
  transition: transform 1s, opacity 1s;
}

.hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.reveal-burger {
  transition: opacity 1s;
}

.hidden-burger {
  opacity: 0;
}

//cards
.flip-front {
  transform: rotateY(-180deg);
}

.flip-back {
  transform: rotateY(0);
}

//animation
.hidden-icon {
  opacity: 0;
  transform: translateY(20rem);
}

.moveInBottom-high {
  animation: moveInBottom-high 1s backwards ease-out 1s;
}

.show-story {
  & .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

  & .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
