@use '../abstracts/variables';
@use '../abstracts/breakpoints';

@mixin btn-regular($type) {
  & {
    //sizing
    padding: 1.5rem 2rem;
    width: max-content;

    //typography
    text-decoration: none;
    font-size: var(--fs-body);
    font-weight: 600;
    text-transform: uppercase;

    //styling
    border-radius: 10rem;
    transition: all 0.2s;

    //layout
    display: inline-block;
    position: relative;
  }

  &:hover,
  &:focus {
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }

  @if $type == primary {
    background-image: linear-gradient(
      to right bottom,
      var(--clr-primary-400),
      var(--clr-primary-300),
      var(--clr-primary-200)
    );
    box-shadow: variables.$shadow-white-light;
    color: var(--clr-neutral-200);
    border: 1px solid var(--clr-primary-300);

    &:hover,
    &:focus,
    &:active {
      box-shadow: variables.$shadow-white-dark;
    }
  }

  @if $type == ghost {
    background-color: transparent;
    box-shadow: variables.$shadow-black-light;
    color: var(--clr-neutral-100);
    border: 1px solid var(--clr-neutral-100);

    &:hover,
    &:focus,
    &:active {
      box-shadow: variables.$shadow-black-dark;
    }
  }

  @content;
}

.btn-cta {
  @include btn-regular(primary);
}

.btn-ghost {
  @include btn-regular(ghost);
}

@mixin btn-text($type) {
  & {
    //styling
    background-color: transparent;
    text-decoration: none;
    padding: 3px;

    //misc
    display: inline-block;
    transition: all 0.2s;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: variables.$shadow-black-dark;
  }

  &:hover,
  &:focus {
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }

  @if $type == primary {
    border-bottom: 1px solid var(--clr-neutral-100);
    color: var(--clr-neutral-100);
  }

  @if $type == neutral {
    border-bottom: 1px solid var(--clr-primary-300);
    color: var(--clr-primary-300);
  }
}

.btn-text {
  &--primary {
    @include btn-text(primary);
  }

  &--neutral {
    @include btn-text(neutral);
  }
}

.shadow {
  &:hover {
    box-shadow: variables.$shadow-black-dark;
  }

  &:active,
  &:focus {
    box-shadow: variables.$shadow-black-light;
  }
}
