@use '../abstracts/breakpoints';

// To be visible only at 901px up
@media only screen and (min-width: 56.26em) {
  .navigation {
    // layout
    position: absolute;
    height: 7rem;
    width: 100vw;
    z-index: 10;

    //background
    background-image: linear-gradient(
      to right,
      var(--clr-black-opacity-500) 5%,
      var(--clr-black-opacity-400) 95%
    );

    // nav for desktop
    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 3rem;
    }

    //children-2
    &__list {
      display: flex;
      align-items: center;
      list-style: none;
    }

    &__item {
      margin-left: 4rem;
    }

    &__link {
      //typography
      font-size: 1.7rem;
      font-weight: 400;
      color: var(--clr-neutral-700);
      text-decoration: none;

      //others
      display: block;
      transition: all 0.3s;
    }

    &__link:hover,
    &__link:active,
    &__link:focus {
      color: var(--clr-primary-300);
    }
  }
}
