@use '../abstracts/breakpoints';
@use '../utilities/flow';

.footer {
  background-image: linear-gradient(
    to bottom,
    var(--clr-grey-opacity-400),
    var(--clr-grey-opacity-300)
  );
  padding: 4rem 8rem;

  @include breakpoints.respond(phone-reg) {
    padding: 2rem;
  }

  //children-1
  &__nav {
    //layout
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    gap: 2rem;
    align-items: center;

    list-style: none;

    @include breakpoints.respond(phone-reg) {
      grid-template-columns: repeat(3, 1fr);
    }

    &--link:link,
    &--link:visited {
      //typography
      font-size: var(--fs-small);
      font-family: var(--ff-default);
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: var(--clr-neutral-200);

      //others
      padding: 1.5rem;
      background-color: var(--clr-grey-opacity-100);
      display: block;
      transition: all 0.2s;
    }

    &--link:hover,
    &--link:active {
      background-color: var(--clr-white-opacity-100);
      transform: translateY(-3px);
    }
  }

  //children-2
  &__copyright {
    //typography
    font-size: 1.4rem;
    color: var(--clr-neutral-300);
    text-align: center;

    //alignment
    margin-top: flow.$margin-md;
    margin-right: auto;
    margin-left: auto;

    width: 70%;
  }
}
