.hero {
  // position
  position: relative;
  transition: all 0.5s;

  //children-2
  &__content {
    height: 100%;
  }

  &__heading-1 {
    width: 50%;
  }

  &__span {
    font-size: var(--fs-heading-alt);
  }

  &__btn {
    display: block;
    letter-spacing: 0.5rem;
  }
}

// Intro
.intro-box {
  //sizing
  height: 100%;
  width: 100%;

  //others
  background-color: var(--clr-neutral-900);
  position: absolute;

  &__text {
    //alignment
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    //position
    position: relative;
    top: 35%;
  }
}
